header{
    border: 1px solid hsl(0, 96%, 40%);
    width: 100%; 
    height: auto;  
    background: blue; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu{
    border: none;
    background-color: none;
}
#mainmenu{
    display: none;
}
.menu ul{
    list-style: none;
    display: inline-block;
}
#botonera button{
    border: 1px solid white;
    border-radius: 100%;
    background: none;
    color: white;
    padding: 5px 10px;
    margin: 2.5px;
}
#logo{
  width:70px;
}